## 增加了两个接口：
1： /api/admin/summary/users
get请求，入参只有offset和page。offset从0开始
数据sample：
{
	"status": 200,
	"data": {
		"count": 1,
		"rows": [
			{
				"openid": "ogWqv7bk5oeWO7c0thPq5UofgB8E",
				"user_name": "小欣",
				"createdAt": "2025-05-18T08:50:47.000Z"
			}
		]
	}
}
2： /api/admin/summary/users_record
get请求，入参只有offset和page。offset从0开始
数据格式如：{
	"status": 200,
	"data": [
		{
			"record_count": 11,
			"openid": "ogWqv7bk5oeWO7c0thPq5UofgB8E",
			"u_name": "小欣",
			"last_used": "2025-08-24T10:02:02.000Z",
			"first_used": "2025-08-03T14:22:39.000Z"
		}
	]
}
通过api/admin已经实现了转发
只需根据以上两个接口，在ddamdin下新增一个users页面，展示用户列表和用户使用记录。就用以上两个接口分别开发两个组件，一个是用户列表组件，一个是用户使用记录组件。用户列表组件展示用户的openid、用户名和创建时间，用户使用记录组件展示用户的openid、用户名、使用记录数量、第一次使用时间和最后一次使用时间。